{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h3 class="title-home">My Latest Posts</h3>
<div class="card">
        {% for post in posts %}
        <div class="col">
            <div class="d-flex flex-column justify-content-start align-items-start h-100 p-4 shadow bg-light rounded">
                <img src="{{post.image.url}}" width="100px"height="100px" class="mb-3">
                <a href="{% url 'blog:post_detail_view' post.pk %}"><h3>{{post.title}}</h3></a>
                <!-- <p>Content: {{post.content}}</p> -->
                <h6>Published: {{post.published_at}}</h6>
                <hr>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}