{% extends 'main/base.html' %}
{% load static %}
{% block title %}
posts
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-6">
        <h2>Create New Post</h2>
        <form class="d-flex flex-column gap-2" action="{% url 'blog:posts_view' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}