{% extends 'main/base.html' %}
{% load static %}
{% block title %}
 Details
{% endblock %}
<h1>{{ post.title }}</h1>
{% block content %}
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex justify-content-between">
                    <h6>Published: {{post.published_at}}</h6>
                </div>
                <img src="{{post.image.url}}" width="200px" height="200px"/>
                <div class="d-flex justify-content-end gap-2">
                    <a href="{% url 'blog:post_update_view' post.id %}" class="btn btn-primary">Update</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
                </div>
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete {{ post.title }} ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'blog:post_delete_view' post.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}